apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-app
  namespace: project
  labels:
    app: frontend-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend-app
  template:
    metadata:
      labels:
        app: frontend-app
    spec:
      volumes:
      - name: shared-data
        persistentVolumeClaim:
          claimName: shared-claim
      containers:
      - name: frontend
        image: FRONT_IMAGE
        ports:
        - containerPort: 3001 
        volumeMounts:
        - name: shared-data
          mountPath: /usr/src/app/files