apiVersion: v1
kind: Service
metadata:
  name: pingpong-service
  namespace: logoutput
spec:
  type: LoadBalancer
  selector:
    app: pingpong-app
  ports:
  - protocol: TCP
    port: 8082
    targetPort: 3002